<div class="final">
  <mat-toolbar class="mat-elevation-z6" color="primary">
    <img class="zlogo" src="assets/ztlogo1.png">
    <div class="vertical-line">

    </div>
    <img class="hamberger" (click)="opened = !opened" src="assets/ham.png">&nbsp;
    <div class="vertical-line">

    </div>&nbsp;&nbsp;
    <mat-form-field>
      <input class="filter" matInput placeholder=" Team Member Search">
    </mat-form-field>



  </mat-toolbar>
  <mat-sidenav-container class="main-sidenav-container" (backdropClick)="opened = !opened">
    <mat-sidenav [mode]="mode" [opened]="opened" [fixedInViewport]="true" [fixedTopGap]="layoutGap">
      <button mat-button (click)="opened = !opened">

      </button>
      <img class="rounded-circle img-round" src="assets/nat.jpg"><br />
      <label class="lbl-name">Admin manju</label>
      <div class="btn-group-vertical btn-sidenav">
        <span class="btn-btn">HRMS</span>
        <span class="btn-btn">Projects</span>
        <span class="btn-btn">Task Boards</span>
        <span class="btn-btn">Chats</span>
        <span class="btn-btn">Knowledge base</span>
        <span class="btn-btn">Reports</span>
        <span  class="btn-btn" (click)="next()" >Settings</span>
      </div>
    </mat-sidenav>

    <!-- Dashboard design -->
    <ul class="nav justify-content-end">
      <h1 class="header">My Dashboard</h1>
      <li class="nav-item">
        <a class="nav-link active" href="#">My Dashboard</a>
      </li>
      <div class="vertical">

      </div>
      <li class="nav-item">
        <a class="nav-link" href="#">Leave/Vacation Management</a>
      </li>
      <div class="vertical">

      </div>
      <li class="nav-item">
        <a class="nav-link" href="#">Holidy List</a>
      </li>
      <div class="vertical">

      </div>
      <li class="nav-item">
        <a class="nav-link " href="#">Organization Chart</a>
      </li>
    </ul>
    <div class="container-fluid maincontainer">
        <mat-layout>
        <div class="first-container">
          <div style="min-width: 100%;">


            <div class="col3Card">
              <div class="card" style="width: 24rem;">
                <div class="card-body">
                  <div class="card-sec">
                    <span class="card-one">MY DEPARTMENT(S) </span><br />
                    <span class="card-minititle">Yourdrs - Web Development </span><br />

                    <small class="card-paragraph">You are currently associated to Know more about this department.
                      department(s)..</small>
                  </div>
                  <div class="icon">
                    <img src="assets/24px.svg">
                  </div>
                </div>
              </div>
            </div>
            <div class="col3Card">
              <div class="card" style="width: 25rem; height: 16rem;">

                <div class="card-body">
                  <div class="card-sec">

                    <span class="card-one">MY MANAGER</span><br />
                    <h1 class="mgr-name">Man Shiv</h1>
                    <small class="card-paragraph">Since 4/23/2019, You are reporting to Man Shiv. know more about your
                      manager.</small>
                  </div>
                  <div class="icon">
                    <img class="height" src="assets/shuffle.svg">
                  </div>
                </div>
              </div>
            </div>
            <div class="col6Card">
              <div class="card" style="width: 60rem; height: 20rem;">
                <div class="card-body">
                  <table class="table table-striped" style="margin-top:20px;">
                    <thead>
                      <tr class="table-head">
                        <th scope="col">Leave / Vacation Type</th>
                        <th scope="col">Requested Date</th>
                        <th scope="col">Applied for</th>
                        <th scope="col">Status</th>
                        <th scope="col">Sent to
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row" class="leave-type">Earned Leave</th>
                        <td>Aug 25, 2014 </td>
                        <td>Sept 7, 2014 </td>
                        <td>Pending</td>
                        <td>Othon Mourkakos</td>
                      </tr>
                      <tr>
                        <th scope="row" class="leave-type">Sick Leave</th>
                        <td>Jul 14, 2013 </td>
                        <td>Jul 27, 2013 </td>
                        <td>Approved</td>
                        <td>Othon Mourkakos</td>
                      </tr>
                      <tr>
                        <th scope="row" class="leave-type">Sick Leave</th>
                        <td>Jan 1, 2013 </td>
                        <td>Jan 1, 2013 </td>
                        <td>Approved</td>
                        <td>Othon Mourkakos</td>
                      </tr>
                    </tbody>
                  </table>



                </div>
              </div>
            </div>


          </div>
        </div>
      </mat-layout>
  <!-- <div class="container">

      <div class="hpanel panel-collapse">

      <div class="panel-heading">
      <div class="panel-tools">
      <a class="showhide"><i class="fa fa-chevron-up"></i></a>
      <a class="closebox"><i class="fa fa-times"></i></a>
      </div>
    <h5>Personal Information</h5>

      <button type="button" style="float:right;" class="btn btn-maincontainer" data-toggle="collapse" data-target="#demo">^</button>
      <div id="demo" class="collapse">
          <div class="card-deck mb-2">
              <div class="card mb-2 box-shadow">

              <div class="card-body">
              <div class="stats-title pull-left">

              </div>
              <div class="stats-icon pull-right">
              <i class="pe-7s-shuffle fa-4x"></i>
              </div>
              </div>
              <div class="m-t-xl">

-->

<div class="expansion">
  <p>
<mat-expansion-panel [(expanded)]="xpandStatus">
<mat-expansion-panel-header>
<mat-panel-title>
  <h2 class="ptitle">Personal Information</h2>
</mat-panel-title>
<mat-panel-description></mat-panel-description>
</mat-expansion-panel-header>

<div class="panel-body" style="display: block;">
<div>
    <table cellpadding="1" cellspacing="1" class="table table-striped">
   <!-- <thead>
     <tr>

       <th>First name</th>
       <th>Last name</th>
       <th>DOB</th>
       <th>Gender</th>
       <th>Date Of Joining</th>
       <th>Address1</th>
       <th>Address2</th>
       <th>City</th>
       <th>State</th>
       <th>Country</th>
       <th>Race</th>
       <th>Ethnicity</th>
       <th>marital_status</th>
       <th>Language</th>
       <th>SSN_Govtid</th>
       <th>Email</th>
       <th>Cell_phone</th>
       <th>Home_phone</th>
       <th>Work_phone</th>
       <th>Extension</th>
      </tr>
   </thead> -->

   <tbody>
     <tr *ngFor="let Login of arrlogin;let i=index">
     <!-- <th scope="row">{{i+1}}</th> -->

       <td>
          <span class="label">Firstname</span><br>
        <h5> {{Login.Firstname}}</h5></td>

       <td>
          <span class="label2">Lastname</span><br>
        <h5>{{Login.Lastname}}</h5></td>

        <td>
            <span class="label3">DOB</span><br>
         <h5> {{Login.DOB}}</h5></td>

         <td>
            <span class="label4">Gender</span><br>
          <h5>{{Login.Gender}}</h5></td>

       <td>
          <span class="label5">Date Of Joining</span><br>
        <h5>{{Login.DOJ}}</h5></td>
       </tr>

       <tr *ngFor="let Login of arrlogin;let i=index">

        <td>
            <span class="label6">Address1</span><br>
          <h5>{{Login.Address1}}</h5></td>

          <td>
              <span class="label7">Address2</span><br>
            <h5>{{Login.Address2}}</h5></td>

       <td>
          <span class="label8">City</span><br>
        <h5>{{Login.City}}</h5></td>

       <td>
          <span class="label9">State</span><br>
        <h5>{{Login.State}}</h5></td>

       <td>
          <span class="label10">Country</span><br>
        <h5>{{Login.Country}}</h5></td>
        </tr>


        <tr *ngFor="let Login of arrlogin;let i=index">
       <td>
          <span class="label11">Race</span><br>
        <h5>{{Login.Race}}</h5></td>

       <td>
          <span class="label12">Ethnicity</span><br>
        <h5>{{Login.Ethnicity}}</h5></td>

       <td>
          <span class="label13">marital_status</span><br>
        <h5>{{Login.marital_status}}</h5></td>

       <td>
          <span class="label14">Language</span><br>
        <h5>{{Login.Language}}</h5></td>

       <td>
          <span class="label15">SSN_Govtid</span><br>
       <h5>{{Login.SSN_Govtid}}</h5></td>

        </tr>


        <tr *ngFor="let Login of arrlogin;let i=index">
        <td>
            <span class="label16">Email</span><br>
          <h5>{{Login.Email}}</h5></td>

       <td>
          <span class="label17">Cell_phone</span><br>
         <h5>{{Login.Cell_phone }}</h5></td>

       <td>
          <span class="label18">Home_phone</span><br>
        <h5>{{Login.Home_phone}}</h5></td>


       <td>
          <span class="label19">Work_phone</span><br>
        <h5>{{Login.Work_phone}}</h5></td>

       <td>
          <span class="label20">Extension</span><br>
        <h5>{{Login.Extension}}</h5></td>
     </tr>
   </tbody>
  </table>
</div>
</div>
</mat-expansion-panel>
</p>
</div>
    </div>
</mat-sidenav-container>
</div>
